<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="false" name="Suite">
 
 <test name="Parallel Test">
       
        <classes>
            <class name="TestLogin"  />
             
		<!--<class name="TestUsers" /> 
            <class name="TellerCredentials" />	
            <class name="ipConfiguration" />
      		<class name="Payments" />
			<class name="Transactions" />
			<class name="TransactionLimit" />-->		


        </classes>
    </test>

</suite> <!-- Suite -->